@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: "Poppins", sans-serif;
    margin:0;
}


.header{
    display: flex;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding:10px 80px;
}

ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 10px
}

li{
    font-size: 10px;
    font-weight: 400px;
}

.logo{
    font-weight: bold;
    font-size: 20px;;
}

.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding:10px 80px;
    color:white;
    padding-bottom: 40px;
}

.image{

    width: 700px;
    height: 300px;
    background-color: #323e50;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:20px;
    flex:auto;
}

.text-top-left h1 {
    font-size:48px;
    font-weight: 900px;
    margin-bottom: 0px;
    color:#E5E7EB;
}

.text-top-left p{
    font-size:14px;
    font-weight: 300px;
    margin-top:0px;
    
}

.blue-background{
    background-color: #3882F6;
    color: white;
    border-radius: 9px;
    padding: 4px 10px;
    border: #3882F6 solid;
    font-weight: bold;
}

h3{

    font-size: 32px;;
    font-weight: 900;
}

.small-image{
   width: 200px;
   height: 200px;;
    border: #3882F6 solid;
    border-radius: 10px;
    margin:0px;
}

.boxes{

    display: flex;
    justify-content: center;
    gap: 42px;
}

.box{
    max-width: 200px;
}

.content{
    text-align: center;
    margin:40px;

}

